.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1px;
      -ms-flex: 1px;
          flex: 1px;
  margin: 0 3%;
}
.benefits__item:first-child {
  margin-left: 0;
}
.benefits__item:last-child {
  margin-right: 0;
}